.body {
  background: #fef7d3;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.bodycomponentes {
  background: #fef7d3;
}

#root {
  text-align: center;
}

a {
  margin: 10px;
}
.input-narrow {
  max-width: 200px;
  margin: 0 auto;
}
